/* General resets */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Consistent modern font */
}

/* Drop Zone Styling */
.drop-zone {
  width: 100%;
  min-width: 300px;
  height: 150px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 0.625rem;
  transition: border-color 0.3s, background-color 0.3s;
  background-color: #f5f5f5; /* Light background */
}

.drop-zone:hover {
  border-color: #007b63;
  background-color: #e0f4e9; /* Slightly colored background */
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-top: 0.625rem;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3125rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0.875rem;
  text-align: center;
}

.drop-zone__prompt {
  font-size: 1.25rem;
  color: #f8f8f8;
}

/* Upload Section */
.upload-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
}

/* Upload Box */
.upload-box {
  padding: 0.625rem;
  width: 100%;
  max-width: 45%;
  min-width: 300px;
  margin: 1rem;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.btn-medium {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  color: #935544;
  border: 2px solid #935544;
  border-radius: 50px;
  transition: all 0.3s ease-out;
}

.btn-medium:hover {
  background-color: #65372a;
  color: #f9e0bb;
}

/* Results Styling */
.results {
  margin-top: 2rem;
}

.results ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.results li {
  background-color: #f9e0bb;
  border: 1px solid #935544;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  text-align: center;
}
