html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Drop Zone Styling */
.drop-zone {
  width: 100%;
  max-width: 300px;
  height: 150px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.drop-zone__prompt {
  font-size: 20px;
  color: #f8f8f8;
}

.box-label {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
}

.upload-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px; /* Move the section down from the top */
  margin-bottom: 30px;
}

.upload-box {
  padding: 10px;
  max-width: 45%; /* Ensure the boxes do not exceed 45% of the container width */
  min-width: 300px; /* Ensure a minimum width */
}

.btn-medium {
  padding: 8px 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  color: #935544;
  border: 2px solid #935544;
  border-radius: 120px;
  margin: 0 auto; /* Horizontally center the button */
  display: block;
}

.btn-medium:hover {
  transition: all 0.3s ease-out;
  background: #65372a;
  color: #f9e0bb;
}
.parent-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin-top: 30px;
  margin-bottom: 30px;
}
.instructions {
  display: inline-block; /* Inline-block to make the border snug around the content */
  text-align: left; /* Align text to the left inside the element */
  margin-top: 30px;
  margin-bottom: 20px;
  border: 5px solid #935544;
  border-radius: 10px;
  padding: 5px; /* Adjust padding as needed to make it snug */
  box-shadow: #65372a 2px 2px 0 0;
}

.Unfollowers-header{
  display: none; /*set display to flex when clicked*/
  align-items: center;
  justify-content: center;
  color:#65372a;
  margin-top: 30px;
  margin-bottom: 30px;
}

.results {
  margin-top: 20px;
}

.results ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.results li {
  background-color: #f9e0bb; /* Light background for better readability */
  border: 1px solid #935544; /* Border to separate items */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for spacing */
  font-size: 16px; /* Font size for readability */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #65372a; /* Text color */
  text-align: center; /* Center the text */
}
