body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
  }
  .faq-header{
    display: flex;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    color: #3b6245;
    font-weight: bold;
    margin-top:50px;
    margin-bottom: 25px ;
  }
  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 15px;
    background-color: #4A7C59;
    color: #fff;
    font-weight: bold;
  }
  
  .faq-answer {
    display: none;
    padding: 15px;
    background-color: #f1f1f1;
    color: #333;
  }
  
  .faq-question:hover {
    background-color: #3b6245;
  }
  